.admin-container {
    min-height: calc(100vh - 64px - 200px);
  }
  
  .container {
    max-width: 1400px;
  }

  .admin-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 24px;*/
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .admin-actions .btn-new-college {
    margin-bottom: 20px;
  }

  .search-bar {
    flex: 1;
    min-width: 280px;
  }
  
  .search-bar mat-form-field {
    width: 100%;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
  }
  
  .inactive-row {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.5);
  }
  
  .mat-accent, .mat-accent mat-icon {
    color: #ff4081; /* Pink accent in indigo-pink theme */
  }

  .mat-warn, .mat-warn mat-icon {
    color: #f44336; /* Pink accent in indigo-pink theme */
  }

  @media (max-width: 768px) {
    .admin-actions {
      flex-direction: column;
      align-items: stretch;
    }
    
    .mat-column-id,
    .mat-column-rating {
      display: none;
    }
    
    .mat-cell {
      padding: 8px;
    }
  }