<mat-card 
      class="college-card" 
      [ngClass]="{'list-view': viewMode === 'list'}"
    >
      <div *ngIf="viewMode === 'grid'" class="card-image-container">
        <img
          [src]="college.imageUrl"
          [alt]="college.name + ' image'"
          class="college-card-image"
        />
        <div class="card-overlay">
          <mat-chip-listbox>
            <mat-chip 
              [ngClass]="college.category"
              disableRipple
            >
              {{ college.category | titlecase }}
            </mat-chip>
          </mat-chip-listbox>
        </div>
      </div>
      
      <div class="card-content-wrapper">
        <mat-card-header>
          <mat-card-title>{{ college.name }}</mat-card-title>
          <mat-card-subtitle>{{ college.city }}, {{ college.state }}</mat-card-subtitle>
          

          
          
        </mat-card-header>
        
        <mat-card-content class="college-card-content">
          <div *ngIf="viewMode === 'list'" class="list-view-layout">
            <div class="list-image-container">
              <img 
                [src]="college.imageUrl"
                [alt]="college.name + ' image'"
                class="list-image"
              />
              <mat-chip-listbox>
                <mat-chip 
                  [ngClass]="college.category"
                  disableRipple
                >
                  {{ college.category | titlecase }}
                </mat-chip>
              </mat-chip-listbox>
            </div>
            <div class="list-content">
              <div class="rating-wrapper">
                <div class="rating">
                  <mat-icon [matTooltip]="'Rating: ' + college.rating + '/5'">star</mat-icon>
                  <span>{{ college.rating }}</span>
                </div>
                <span class="established">Est. {{ college.established }}</span>
              </div>
              
              <p class="description">{{ college.description | slice:0:100 }}{{ college.description.length > 100 ? '...' : '' }}</p>
              
              <div class="courses-wrapper">
                <span class="courses-label">Top Courses:</span>
                <div class="courses">
                  <mat-chip-listbox>
                    <mat-chip *ngFor="let course of college.courses.slice(0, 3)" disableRipple>
                      {{ course }}
                    </mat-chip>
                    <mat-chip *ngIf="college.courses.length > 3" disableRipple>
                      +{{ college.courses.length - 3 }} more
                    </mat-chip>
                  </mat-chip-listbox>
                </div>
              </div>
            </div>
          </div>
          
          <div *ngIf="viewMode === 'grid'">
            <div class="rating-wrapper">
              <div class="rating">
                <mat-icon [matTooltip]="'Rating: ' + college.rating + '/5'">star</mat-icon>
                <span>{{ college.rating }}</span>
              </div>
              <span class="established">Est. {{ college.established }}</span>
            </div>
            
            <p class="description">{{ college.description | slice:0:100 }}{{ college.description.length > 100 ? '...' : '' }}</p>
          </div>
        </mat-card-content>
        
        <mat-card-actions>
          <button mat-button color="primary" [routerLink]="['/colleges', college.id]">
            DETAILS
          </button>
          <button mat-button>
            <mat-icon>bookmark_border</mat-icon> SAVE
          </button>
          
          <div class="spacer"></div>
          
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/colleges', college.id]">
              <mat-icon>info</mat-icon>
              <span>View Details</span>
            </button>
            <button mat-menu-item>
              <mat-icon>share</mat-icon>
              <span>Share</span>
            </button>
            <button mat-menu-item>
              <mat-icon>bookmark_border</mat-icon>
              <span>Save</span>
            </button>
          </mat-menu>
        </mat-card-actions>
      </div>
    </mat-card>